/*****************************Page**********************************/


@font-face {
   }

* {
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-variant: normal;
}

h1 {
    font-size: 3em;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: #2B0A3D;
}

h3 {
    font-size: 1.5ex;
    font-weight: 700;
    line-height: 15.4px;
    color: #2B0A3D;
}

p {
    font-size: 2em;
    font-weight: 400;
    line-height: 20px;
    color: #2B0A3D;
 
}


a {
    color: white;
}

/***********************EnTete******************/






/************************NavBar********************/


/*************Accueil*************************/


/*************Voiture*************************/


/*************Finition*************************/


/*************Option*************************/

/*************Devis*************************/


/*************Creation*************************/
.creation {
    text-align: center;
    font-size: 3ex;
    
}
/*************Connexion*************************/
/*************Compte*************************/
/*************Merci*************************/
/*************Footer*************************/
#footer-entire {
    background-color: #ececec;
    position: initial;
    color: #12B3DB
}

.items-social-links li {
    padding: 1%;
    display: inline-block;
    }

.items-social-links img {
    max-width: 30px;
}

#footer-entire p  {
    color: #12B3DB;
    
    
}
#voltik-logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    vertical-align: middle;
   
}

